name: validate
on: [push, pull_request]
jobs:
  rawhide:
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v2

      - name: Install test dependencies
        run: |
          podman run --rm -v .:/pocketlint:Z --workdir /pocketlint registry.fedoraproject.org/fedora:rawhide sh -c " \
          dnf install -y python3-packaging python3-pylint python3-setuptools make; \
          make ci;"
